{% extends "layout.html" %}

{% block title %}
    Add Money
{% endblock %}

{% block main %}
    <form action="/money" method="post">
        <div class="mb-3 large text-center">
            Current cash : {{ cash.cash | usd }}
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="money" name="money" placeholder="Amount" type="number" required>
        </div>
        <button class="btn btn-primary" type="submit">Add Money</button>
    </form>
{% endblock %}
